<!DOCTYPE html>
<html>
<% include ./template/header %>
<head>
    <title>오늘 뭐 먹지</title>
</head>
        <div class="content-right">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- app chat overlay -->
                    <div class="chat-overlay"></div>
                    <!-- app chat window start -->
                    <section class="chat-window-wrapper">
                        <div class="chat-start" style="background-image:none; height:calc(100vh);" onclick="getMenu()">
                            <span class="ft-message-square chat-sidebar-toggle chat-start-icon font-large-3 p-3 mb-1"></span>
                            <h4 class="d-none d-lg-block py-50 text-bold-500">원하는 서비스를 좌측 목록에서 선택해주세요!</h4>
                        </div>
                        <div class="chat-area d-none">
                            <div class="chat-header" style="background-color: rgb(169,189,206);">
                                <header class="d-flex justify-content-between align-items-center px-1 py-75">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar chat-profile-toggle m-0 mr-1">
                                        </div>
                                        <h6 class="mb-0"></h6>
                                    </div>
                                </header>
                            </div>
                            <!-- chat card start -->
                            <div class="card chat-wrapper shadow-none mb-0">
                                <div class="card-content" style="background-color: rgb(178,199,217);">
                                    <div class="card-body" style="height: calc(87vh); overflow: auto;">
                                        <div class="chat-content">

                                          
                                          <div class="chat chat-left">
                                            <div class="chat-body">
                                              <div class="chat-message-custom1 chat-message">
                                                  <p>궁금하신 주식의 회사명을 입력해주세요!</p>
                                              </div>
                                            </div>
                                          </div>
                                          


                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer chat-footer px-2 py-1 pb-0">
                                    <div class="d-flex align-items-center">
                                      <input id="message" type="text" class="form-control chat-message-send mx-1" placeholder="내용을 입력해주세요." onkeypress="javascript:if(event.keyCode==13){document.getElementById('chat').click();}">
                                      <button id="chat" type="button" class="btn btn-secondary " style="min-width: 60px;"><span>전송</span></button>
                                    </div>
                                </div>
                            </div>
                            <!-- chat card ends -->
                        </div>
                    </section>
                    <!-- app chat window ends -->

                </div>
            </div>
        </div>

</body>
<% include ./template/footer %>
<!-- END: Body-->

</html>