<!DOCTYPE html>
<html>
<% include ./template/header %>
<head>
    <title>오늘 뭐 먹지</title>
</head>
        <div class="content-right">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <!-- app chat overlay -->
                    <div class="chat-overlay"></div>
                    <!-- app chat window start -->
                    <section class="chat-window-wrapper">
                        <div class="chat-start" style="background-image:none; height:calc(100vh);" onclick="getMenu()">
                            <span class="ft-message-square chat-sidebar-toggle chat-start-icon font-large-3 p-3 mb-1"></span>
                            <h4 class="d-none d-lg-block py-50 text-bold-500">원하는 서비스를 좌측 목록에서 선택해주세요!</h4>
                        </div>
                    </section>
                    <!-- app chat window ends -->

                </div>
            </div>
        </div>

</body>
<% include ./template/footer %>
<!-- END: Body-->

</html>